@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Special+Gothic+Expanded+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('http://127.0.0.1:5500/freek.yallico%20img/logo.png');
    background-position: center;
    height: 600vh;
    display: flex;
}

.cuadro-transparente {
    background-color: rgba(255, 0, 255, 0.15);
    padding: 100px;
    margin: 50px auto;
    width: 78%;
    border-radius: 15px;
    text-align: center;
}

/*KeyFrames*/
@keyframes entradatexto {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.titulog {
    padding: 1px;
    width: 100%;
    height: 80px;
    justify-content: center;
    justify-items: center;
    display: flex;
    font-size: 3rem;
    color: white;
    animation: entradatexto 1.0s forwards;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #843B9D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: entradatexto 1.5s forwards;
}

.nav-menu {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    animation: entradatexto 1.5s forwards;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-menu:hover {
    color: rgb(229, 229, 8);
}

.nav-menu i {
    transition: 0.3s ease;
}

.nav-menu:hover i {
    color: rgb(229, 229, 86);
    transform: rotate(20deg);
}

.presentacion {
    padding: 1%;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    align-content: center;
    animation: entradatexto 1.5s forwards;
}

.text01 {
    font-size: 20PX;
    color: black;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*SECCION 01*/
.section01 {
    padding: 15px;
}

.titulo01 {
    padding: 1dvh;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor02 {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.img-procesador {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.img-procesador img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.img-procesador img:hover {
    transform: scale(1.1);
}

.text02 {
    text-align: justify;
    width: 600px;
    color: white;
    font-size: 13px;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*SECCION 02*/
.section02 {
    padding: 20px;
}

.titulo02 {
    padding: 1dvb;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor03 {
    display: flex;
    justify-content: center;
    gap: 80px;

}

.img-grafica {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.img-grafica img {
    width: 100%;
    height: auto;
    display: block;
    transition: tranform 0.3s ease;
}

.img-grafica img:hover {
    transform: scale(1.1);
}

.subtitulo01 {
    color: yellow;
}

.text03 {
    text-align: justify;
    width: 300px;
    color: white;
    font-size: 13px;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*SECCION 03*/
.section03 {
    padding: 20px;
}

.titulo03 {
    padding: 1dvb;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor04 {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.subtitulo02 {
    color: yellow;
}

.text04 {
    text-align: justify;
    width: 300px;
    color: white;
    font-size: 20px;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-placamadre {
    width: 100%;
    max-width: 50%;
    /*margin-bottom: 20px;*/
}

.img-placamadre img {
    width: 100%;
    height: auto;
    display: block;
    transition: tranform 0.3s ease;
}

.img-placamadre img:hover {
    transform: scale(1.1);
}