@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Special+Gothic+Expanded+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('http://127.0.0.1:5500/freek.yallico%20img/logo.png');
    background-position: center;
    height: 400vh;
    display: flex;
}

.cuadro-transparente {
    background-color: rgba(255, 0, 255, 0.15);
    padding: 100px;
    margin: 50px auto;
    width: 78%;
    border-radius: 15px;
    text-align: center;
}

header {
    padding: 1px;
    width: 100%;
    height: 80px;
    justify-content: center;
    justify-items: center;
    display: flex;
    font-size: 3rem;
    color: white;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #843B9D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-menu {
    color: white;
    text-decoration: none;
    font-size: 1.1em;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-menu:hover {
    color: rgb(229, 229, 86);
}

.presentacion {
    padding: 1%;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    align-content: center;
}

.text01 {
    font-size: 20PX;
    color: black;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*SECCION 01*/
.section01 {
    padding: 5px;
}

.titulo01 {
    padding: 1dvh;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor02 {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.img-procesador {
    margin-bottom: 20px;
}

.img-procesador img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.text02 {
    text-align: justify;
    width: 600px;
    color: white;
    font-size: 13px;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*SECCION 02*/
.section02 {
    padding: 20px;
}

.titulo02 {
    padding: 1dvb;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor03 {
    display: flex;
    justify-content: center;
    gap: 80px;
    
}

.img-grafica {
    margin-bottom: 10px;
}

.img-grafica img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.text03 {
    text-align: justify;
    width: 300px;
    color: white;
    font-size: 13px;

    /*Importado*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitulo01{
    color: yellow;
}